* {
  font-family: 'Press Start 2P', cursive;
  /* --blue-color: #4062bb;
  --green-color: #2e5266;
  --light-green-color: #c8c8c8;
  --pink-color: #f46036; */
  --blue-color: #b7ad99;
  --green-color: #635d5c;
  --light-green-color: #141414;
  --pink-color: #f46036;
  
}

@font-face {
  font-family: 'Pixel Mono';
  src: url('fonts/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
    url('fonts/vcr_osd_mono_1.001-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  background-color: var(--light-green-color);
  color: var(--blue-color);
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.grid-cell {
  border: 1px solid var(--green-color);
  width: 1.9em;
  height: 1.9em;
  background-image: url(../media/pattern.jpg)
}

.grid-header-top {
  /* border: none; */
  text-align: center;
  width: 1.9em;
  height: 1.9em;
  line-height: 1.9em;
  margin-bottom: 5px;
}

.grid-header-left {
  border: 1px solid transparent;
  text-align: center;
  width: 1.9em;
  height: 1.9em;
  line-height: 1.9em;
  margin-right: 10px;
}

.grid-empty {
  border: 1px solid transparent;
  margin-bottom: 5px;
  background-image: none;

}

.grid-salvoes {
  display: flex;
  border-radius: 0.15em;
}

.grid-ships {
  display: flex;
  border-radius: 0.15em;
}

.ship-placed {
  background-color: var(--green-color);
}

.salvo-placed {
  box-shadow: inset 0px 0px 0px 0.1em var(--green-color);
  background-color: var(--pink-color)
}

.title-player {
  margin: 0.5em 0;
}

.title-main {
  margin: 1em 0;
}

/*LeaderBoard*/
.wrapper-leader {
  width: 100%;
  height: 100%;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.table-leader th,
td {
  padding: 0.5em 1em;
}

.table-leader tbody {
  margin: 1em;
}

#leader-list {
  text-align: center;
}


.holder {
  width: 500px;
  height: 300px;
  background-color: aquamarine;
}

.main-menu {
  list-style: none;
  padding:0;
}

.main-menu a {
  text-decoration: none;
  color: var(--blue-color) !important;
}

.main-menu a:hover {
  text-decoration: none;
  color: var(--green-color) !important;
}

.main-menu li {
  margin-bottom: 0.5rem;
}

#username,
#password {
  width: 150px;
  /* padding: 0.3em 0.3em 0.3em 0.4em; */
}

.pixel-sdw {
  background-color: var(--blue-color);
  color: var(--green-color);
  font-size: small;
  border-radius: 0;
  padding-bottom: 3px;
  padding-top: 3px;
  box-shadow:
    /* top*/
    0px 4px var(--green-color),
    /* bottom */
    0px -4px var(--green-color),
    /* left */
    -4px 0px var(--green-color),
    /* right */
    4px 0px var(--green-color),
    /* top-left-corner*/
    2px 2px var(--green-color),
    /* bottom-left-corner */
    2px -2px var(--green-color),
    /* top-left-corner */
    -2px 2px var(--green-color),
    /* top-right-corner */
    -2px -2px var(--green-color)
}

.pixel-sdw:hover {
  background-color: var(--green-color);
  color: var(--blue-color);
  box-shadow:
    /* top*/
    0px 4px var(--blue-color),
    /* bottom */
    0px -4px var(--blue-color),
    /* left */
    -4px 0px var(--blue-color),
    /* right */
    4px 0px var(--blue-color),
    /* top-left-corner*/
    2px 2px var(--blue-color),
    /* bottom-left-corner */
    2px -2px var(--blue-color),
    /* top-left-corner */
    -2px 2px var(--blue-color),
    /* top-right-corner */
    -2px -2px var(--blue-color)
}

.pixel-sdw-r {
  background-color: var(--green-color);
  color: var(--blue-color);
  font-size: small;
  border-radius: 0;
  padding-bottom: 3px;
  padding-top: 3px;
  box-shadow:
    /* top*/
    0px 4px var(--blue-color),
    /* bottom */
    0px -4px var(--blue-color),
    /* left */
    -4px 0px var(--blue-color),
    /* right */
    4px 0px var(--blue-color),
    /* top-left-corner*/
    2px 2px var(--blue-color),
    /* bottom-left-corner */
    2px -2px var(--blue-color),
    /* top-left-corner */
    -2px 2px var(--blue-color),
    /* top-right-corner */
    -2px -2px var(--blue-color)
}

.pixel-sdw-r:hover {
  background-color: var(--blue-color);
  color: var(--green-color);
  box-shadow:
    /* top*/
    0px 4px var(--green-color),
    /* bottom */
    0px -4px var(--green-color),
    /* left */
    -4px 0px var(--green-color),
    /* right */
    4px 0px var(--green-color),
    /* top-left-corner*/
    2px 2px var(--green-color),
    /* bottom-left-corner */
    2px -2px var(--green-color),
    /* top-left-corner */
    -2px 2px var(--green-color),
    /* top-right-corner */
    -2px -2px var(--green-color)
}

.modal-content {
  color: var(--blue-color) !important;
  background-color: var(--light-green-color);
}

.close {
  color: var(--blue-color) !important;

}

.modal-header {
  border-bottom: none;
}

#email-input-login{
  margin-bottom: 0.7em;
}
.hide{
  display:none !important;
}

.main-title {
  text-decoration: none;
  color: var(--blue-color) !important;
}

.main-title:hover {
  text-decoration: none;
  color: var(--green-color) !important;
}

.create-account {
  text-decoration: none;
  color: var(--green-color) !important;
}

.create-account:hover {
  text-decoration: none;
  color: var(--blue-color) !important;
}
.games-title {
  font-family: 'Press Start 2P', cursive;
}

form{
  width: auto;
}