* {
  margin: 0;
  padding: 0;
}

.grid-cell {
  border: 1px solid lightgrey;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin: 2px;
}
.grid-header {
  border-color: black;
  text-align: center;
  line-height: 30px;
}
.grid-container {
  display: flex;
}
.ship-placed {
  background-color: black;
}